/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#fff;
	--color-input: #ddd;
	--color-light-grey: #f5f5f5;
	--color-grey: #ccc;
	--color-dark-grey: #999;

	--color-brand: #0058AB;
	--color-brand-secondary: #FBD914;
	--color-succes: #1aa260;
	--color-outline: var(--color-brand);

	--margin-main: 1.25rem;
}


@media (prefers-color-scheme:dark) {

	:root {
		--color-text:#fff;
		--color-background:#111;
		--color-input: #555;
		--color-light-grey: #555;
		--color-grey: #999;
		--color-dark-grey: #ccc;

		--color-outline: var(--color-brand-secondary);
	}

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Algemene Styling */

body {
	width: 100vw;

  background-color:var(--color-background);

  font-family: Noto Sans, sans-serif;
  line-height: 1.4;
  color:var(--color-text);
}

h1 {
	margin-top: 2em;

	font-size: 1.8em;
}

h2 {
	margin-bottom: .5em;

	font-size: 1.4em;
}

p {
	margin-bottom: 1em;
}

a {
	outline-color: var(--color-outline);

	text-decoration: none;
}


/* focus states */

li:focus-within {
	border-radius: .5em;
	outline: 2px solid var(--color-outline);
}

li a {
	outline: none;
}

li button {
	outline: none;
}

button {
	background: none;

	border: none;
}

input[type="submit"]:focus-visible {
	border-radius: .5em;

	outline: 2px solid var(--color-brand-secondary);
}



/* HEADER */

header {
	position: sticky;
	z-index: 5;
	top: 0;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1.25em var(--margin-main);
	gap: 1.25em;

	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-grey);
}

header nav:first-of-type ul {
	display: flex;
	margin-right: -.5em;
	gap: .25em;

	list-style: none;
}

header nav:first-of-type li{
	position: relative;
	height: 2.75em;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .5em;
}

header nav:first-of-type button {
	background-color: transparent;
	border: none;
}

header nav:first-of-type a span{
	position: absolute;
	top: -.1rem;
	right: -.1rem;
	height: 1.2rem;
	aspect-ratio: 1/1;

	display: none;
	justify-content: center;
	align-items: center;

	background-color: var(--color-outline);
	border-radius: 1.2rem;
	
	font-size: .8rem;
	color: var(--color-background);
}

header nav:first-of-type svg {
	width: 1.5rem;
	aspect-ratio: 1/1;

	fill: var(--color-text);
}

header form {
	flex-grow: 1;

	display: flex;
	justify-content: space-between;
	padding: 0.5em 1em;
	
	background-color: var(--color-input);
	border: none;
	border-radius: 2.5em;
}

header form:focus-within {
	outline: 2px solid var(--color-outline);
}

header form input {
	background: none;
	border: none;

	font-size: 1em;
}

header form input[type='search'] {
	width: 100%;

	outline: none;
}

header form input[type='submit'] {
	width: 2em;
	height: 2em;

	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

input::placeholder {
	color: var(--color-dark-grey);
}


/* Hamburger Menu */

header nav:nth-of-type(2) {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	transform: translateX(-100vw);

	display: none;
	padding: 0 var(--margin-main);
	overflow-y: auto;

	background: var(--color-background);
}

header nav:nth-of-type(2) a {
	color: var(--color-text);
}

header nav:nth-of-type(2) > a:first-of-type {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
	background-color: var(--color-background);
}

header nav:nth-of-type(2) > a:nth-of-type(2) {
	width: 100%;

	display: flex;
	margin-top: 5em;
	padding-bottom: 1em;
	gap: .5em;
	
	border-bottom: 1px solid var(--color-grey);
}

header nav:nth-of-type(2) > a:nth-of-type(2) svg{
	width: 1.4em;
	height: 1.4em;
	
	margin: 0;
	
	fill: var(--color-text);
}

header nav:nth-of-type(2) > a img {
	margin: 1em var(--margin-main);
}

header nav:nth-of-type(2) > button:first-of-type {
	position: fixed;
	top: 1em;
	right: 1em;
}

header nav:nth-of-type(2) > button svg {
	width: 1.5em;
	height: 1.5em;
	
	font-size: 1.5em;

	fill: var(--color-text);
}

header nav:nth-of-type(2) ul {
	margin-bottom: 3rem;

	list-style: none;
}

header nav:nth-of-type(2) li {
	margin: 2rem 0;
}

header nav:nth-of-type(2) ul:first-of-type {
	font-size: 1.4em;
	font-weight: bold;
}

nav:nth-of-type(2).open {
	transform: translateX(0);
}

nav:nth-of-type(2).show {
	display: block;

	transition: .2s;
}



/* MAIN */

main {
	padding: 0 var(--margin-main);
}

section {
	margin: 3em 0;
}


/* BREADCRUMBS */

main ol:first-of-type {
	display: flex;
	margin: 1em 0;

	list-style: none;
}

main ol:first-of-type li:before {
	content: 'â¯';

	padding: 1ch;

	color: var(--color-grey);
}

main ol:first-of-type li:first-of-type:before {
	display: none;
}

main ol:first-of-type a{
	color: var(--color-text);
}



/* SLIDERS */

main ul {
	display: flex;
	padding: 1em var(--margin-main) 2em var(--margin-main);
	margin: 0 calc(-1 * var(--margin-main)) 3em calc(-1 * var(--margin-main));
	gap: 1em;
	overflow-x: scroll;

	list-style: none;
}

main ul li {
	position: relative;
}

main ul a {
	color: var(--color-text);
	hyphens: auto;
}

/* Eerste slider */

main > ul:first-of-type img {
	width: 8em;

	margin-bottom: 1em;
}


/* Tweede Slider */

.decoratie section:first-of-type ul:nth-of-type(2) img {
	width: 60vw;
}

.decoratie section:first-of-type ul:nth-of-type(2) a {
	position: absolute;
	z-index: 1; 
	bottom: 2em;
	left: 50%;
	transform: translate(-50%);
	
	padding: .5em 1em;
	
	background-color: var(--color-background);
	border-radius: 2em;
	
	hyphens: none;
}

.decoratie section:first-of-type ul:nth-of-type(2) li:first-of-type a {
	position: static;
}

.decoratie section:first-of-type ul:nth-of-type(2) li:first-of-type img {
	width: 8rem;

	margin: 0;
}


/* Filters Slider */

.planten section ul:first-of-type {
	position: sticky;
	z-index: 3;
  top: 0;

	display: flex;
	margin: 0;

	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-grey);
}

.planten section ul:first-of-type li {
	width: 100%;
}

.planten section ul:first-of-type button {
	padding: .5em 1em;

	background-color: var(--color-light-grey);
	border: none;
	border-radius: 1em;

	font-size: 1em;
	white-space: nowrap;
}



/* Slider Scrollbar  // Bron scrollbar styling: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* Height */
main ul::-webkit-scrollbar {
  height: 2px;
}

/* Track */
main ul::-webkit-scrollbar-track {
	margin: 0 var(--margin-main);

  background: var(--color-light-grey);
}
 
/* Handle */
main ul::-webkit-scrollbar-thumb {
  background: var(--color-text);
}

section ul:has(button)::-webkit-scrollbar {
	display: none;
}



/* Lijst skip link */

main ul li:first-of-type {
	position: absolute;
	transform: translateX(-100vw);
}

main ul li:first-of-type:focus-within {
	position: static;
	transform: translateX(0);
}

main ul li:first-of-type img {
	width: 2em;
	height: 2em;
	
	margin: 0 2em;
}

main ul li:first-of-type a {
	position: static;
}



/* GALLERY */

.decoratie section > ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto repeat(7, 3em);
	gap: .75em;
	margin: 2em 0;
	overflow: auto;
	padding: 1em 0;
}

.decoratie section ul:first-of-type li {
	overflow: hidden;
}

.decoratie section ul:first-of-type li img {
	height: 100%;

	display: block;
}

.decoratie section:first-of-type ul:first-of-type li:first-of-type {
	grid-column: span 2;

	transform: none;

	position: static;
}

.decoratie section:first-of-type ul:first-of-type li:first-of-type img {
	width: 100%;

	margin: 0;
}

section:first-of-type ul:first-of-type li:nth-of-type(2) {
	grid-row: 2/5;
}

section:first-of-type ul:first-of-type li:nth-of-type(3) {
	grid-row: 2/6;
}

section:first-of-type ul:first-of-type li:nth-of-type(4) {
	grid-row: 5/9;
}

section:first-of-type ul:first-of-type li:nth-of-type(5) {
	grid-row: 6/9;
}


/* PRODUCTEN GRID */

.planten section {
	width: 100vw;

	position: relative;
	margin-left: calc(-1 * var(--margin-main));

	background-color: var(--color-grey);
}

.planten section ul:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	gap: 1px;
	margin: 0;
	padding: 0;
}

.planten section ul:nth-of-type(2) li:focus-within {
	border-radius: 0;
	outline: none;
	}

.planten section ul li:first-of-type {
	position: static;
	transform: none;
}

.planten section ul:nth-of-type(2) li {
	width: 100%;

	display: grid;
	grid-template-columns: 3em 1fr;
	padding: .75em;

	background-color: var(--color-background);
}

.planten section ul:nth-of-type(2) a {
	grid-column: span 2;
	margin: .5rem 0;

	font-size: 1em;
	text-transform: uppercase;
}

.planten section ul:nth-of-type(2) a:focus {
	border-radius: .5em;
	outline: 2px solid var(--color-brand);
}

.planten section ul:nth-of-type(2) h3 {
	font-size: 1rem;
}

.planten section ul:nth-of-type(2) p {
	grid-column: span 2;

	display: flex;
	align-items: center;
}

.planten section ul:nth-of-type(2) p:nth-of-type(3):before, .planten section ul:nth-of-type(2) p:nth-of-type(4):before {
	content: '';

	height: .5rem;
	aspect-ratio: 1/1;

	display: block;
	vertical-align: center;
	margin-right: 1ch;

	background-color: var(--color-succes);
	border-radius: .25rem;
}

.planten section ul:nth-of-type(2) p {
	grid-column: span 2;
}

.planten section ul:nth-of-type(2) p:nth-of-type(2) {
	align-items: flex-start;

	font-size: .8rem;
	font-weight: bold;
}

.planten section ul:nth-of-type(2) li > img {
	grid-column: span 2;
	grid-row: 1;
	
	width: 100%;
	height: initial;
	
	margin: 0;
}

.planten section ul:nth-of-type(2) li > button {
	width: 2.5rem;
	height: 2.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;

	border: none;
	border-radius: 1.25rem;
	
	transition: .2s;
}

.planten section ul:nth-of-type(2) li > button:focus-visible {
	border-radius: .5em;
	outline: 2px solid var(--color-brand-secondary);
}

.planten section ul:nth-of-type(2) li > button:first-of-type {
	background-color: var(--color-brand);
}

.planten section ul:nth-of-type(2) li > button > svg {
	width: 1.4rem;
	height: 1.4rem;
	
	margin: 0;
}

.planten section ul:nth-of-type(2) li > button:first-of-type > svg {
	fill: white;
}

.planten section ul:nth-of-type(2) li > button:nth-of-type(2) > svg {
	fill: var(--color-text);
}

.planten span {
	margin: 0 .1rem;
	
	font-size: 1.2rem;
	line-height: 1.4rem;
}

li.liked > button {
	background-color: var(--color-brand-secondary);
}

.planten section ul:nth-of-type(2) li.liked > button:nth-of-type(2) > svg {
	fill: #111;
}



/* LASER */


.laser {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2px;
	transform-origin: top center;

	display: none;
	
	background-color: red;
	box-shadow: 0 0 3px red;
}

.laser.on {
	display: block;

	animation: laser .5s;
}

@keyframes laser {
	0% {
		opacity: .8;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



