/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;  
}

button, summary {
	cursor: pointer;
}

* {
	/*outline: 1px solid red;*/
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:#111;
	--color-background:#fff;
	--color-light-grey: #f5f5f5;
	--color-grey: #ccc;

	--color-brand: #0058AB;
	--color-brand-secondary: #FBD914;
	--color-succes: #1aa260;

	--margin-main: 1.25rem;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	
}


body {
  color:var(--color-text);
  background-color:var(--color-background);
	width: 100vw;
  font-family: Noto Sans, sans-serif;
  line-height: 1.4;
}

h1 {
	font-size: 1.8em;
	margin-top: 2em;
}

h2 {
	font-size: 1.4em;
	margin-bottom: .5em;
}

p {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	outline-color: var(--color-brand);
}

li:focus-within {
	outline: 2px solid var(--color-brand);
	border-radius: .5em;
}

li a {
	outline: none;
}

li button {
	outline: none;
}



/* HEADER */

header {
	display: flex;
	flex-wrap: wrap;
	padding: 1.25em var(--margin-main);
	gap: 1.25em;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-grey);
}

header nav ul {
	display: flex;
	list-style: none;
	gap: .25em;
	margin-right: -.5em;
}

header nav li{
	height: 2.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 .5em;
}

header nav button {
	border: none;
	background-color: transparent;
}

header form {
	flex-grow: 1;
	background-color: var(--color-light-grey);
	border: none;
	padding: 0.5em 1em;
	border-radius: 2.5em;
	display: flex;
	justify-content: space-between;
}

header form:focus-within {
	outline: 2px solid var(--color-brand);
}

header form input {
	background: none;
	border: none;
	font-size: 1em;
}

header form input[type='search'] {
	width: 100%;
	outline: none;
}

header form input[type='submit'] {
	background: url('../images/search.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 2em;
	height: 2em;
}




main {
	padding: 0 var(--margin-main);
}

section {
	margin: 3em 0;
}


/* BREADCRUMBS */

main ol:first-of-type {
	display: flex;
	list-style: none;
	margin: 1em 0;
}

main ol:first-of-type li:before {
	content: 'â¯';
	color: var(--color-grey);
	padding: 1ch;
}

main ol:first-of-type li:first-of-type:before {
	display: none;
}

main ol:first-of-type a{
	color: var(--color-text);
}



/* SLIDERS */

main ul {
	display: flex;
	gap: 1em;
	list-style: none;
	overflow-x: scroll;
	padding: 1em var(--margin-main) 2em var(--margin-main);
	margin: 0 calc(-1 * var(--margin-main)) 3em calc(-1 * var(--margin-main));
}

main ul li {
	position: relative;
}

main ul a {
	color: var(--color-text);
	hyphens: auto;
}

/* Eerste slider */

main > ul:first-of-type img {
	width: 8em;
	margin-bottom: 1em;
}


/* Tweede Slider */

.decoratie section:first-of-type ul:nth-of-type(2) img {
	width: 60vw;
}

.decoratie section:first-of-type ul:nth-of-type(2) a {
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translate(-50%);
	padding: .5em 1em;
	border-radius: 2em;
	z-index: 1; 
	background-color: var(--color-background);
	hyphens: none;
}


/* Filters Slider */

.planten section ul:first-of-type {
	position: sticky;
  top: 0;
	display: flex;
	margin: 0;
	background-color: var(--color-background);
	z-index: 3;
	border-bottom: 1px solid var(--color-grey);
}

.planten section ul:first-of-type li {
	width: 100%;
}

.planten section ul:first-of-type button {
	white-space: nowrap;
	padding: .5em 1em;
	border: none;
	border-radius: 1em;
	font-size: 1em;
}



/* Slider Scrollbar */

/* Height */
main ul::-webkit-scrollbar {
  height: 2px;
}

/* Track */
main ul::-webkit-scrollbar-track {
  background: var(--color-light-grey);
  margin: 0 var(--margin-main);
}
 
/* Handle */
main ul::-webkit-scrollbar-thumb {
  background: var(--color-text);
}

section ul:has(button)::-webkit-scrollbar {
	display: none;
}



/* Lijst skip link */

main ul li:first-of-type {
	position: absolute;
	transform: translateX(-100vw);
}

main ul li:first-of-type:focus-within {
	position: static;
	transform: translateX(0);
}

main ul li:first-of-type img {
	width: 2em;
	height: 2em;
	margin: 0 2em;
}

main ul li:first-of-type a {
	position: static;
}



/* GALLERY */

.decoratie section > ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto repeat(7, 3em);
	gap: .75em;
	margin: 2em 0;
	overflow: auto;
	padding: 1em 0;
}

.decoratie section ul:first-of-type li {
	overflow: hidden;
}

.decoratie section ul:first-of-type li img {
	height: 100%;
	display: block;
}

.decoratie section:first-of-type ul:first-of-type li:first-of-type {
	grid-column: span 2;
	position: static;
	transform: none;
}

.decoratie section:first-of-type ul:first-of-type li:first-of-type img {
	width: 100%;
	margin: 0;
}

section:first-of-type ul:first-of-type li:nth-of-type(2) {
	grid-row: 2/5;
}

section:first-of-type ul:first-of-type li:nth-of-type(3) {
	grid-row: 2/6;
}

section:first-of-type ul:first-of-type li:nth-of-type(4) {
	grid-row: 5/9;
}

section:first-of-type ul:first-of-type li:nth-of-type(5) {
	grid-row: 6/9;
}


/* PRODUCTEN GRID */

.planten section {
	position: relative;
	background-color: var(--color-grey);
	width: 100vw;
	margin-left: calc(-1 * var(--margin-main));
}

.planten section ul:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	gap: 1px;
	margin: 0;
	padding: 0;
}

.planten section ul li:first-of-type {
	position: static;
	transform: none;
}

.planten section ul:nth-of-type(2) li {
	display: grid;
	grid-template-columns: 3em 1fr;
	width: 100%;
	background-color: var(--color-background);
	padding: .75em;
}

.planten section ul:nth-of-type(2) a {
	grid-column: span 2;
	text-transform: uppercase;
	font-size: 1em;
	margin: .5rem 0;
}

.planten section ul:nth-of-type(2) a:focus {
	outline: 2px solid var(--color-brand);
	border-radius: .5em;
}

.planten section ul:nth-of-type(2) h3 {
	font-size: 1rem;
}

.planten section ul:nth-of-type(2) p {
	grid-column: span 2;
	display: flex;
	align-items: center;
}

.planten section ul:nth-of-type(2) p:nth-of-type(3):before {
	content: '';
	background-color: var(--color-succes);
	border-radius: .25rem;
	height: .5rem;
	aspect-ratio: 1/1;
	vertical-align: center;
	display: block;
	margin-right: 1ch;
}

.planten section ul:nth-of-type(2) p:nth-of-type(4):before {
	content: '';
	background-color: var(--color-succes);
	border-radius: .25rem;
	width: .5rem;
	height: .5rem;
	vertical-align: center;
	display: block;
	margin-right: 1ch;
}

.planten section ul:nth-of-type(2) p {
	grid-column: span 2;
}

.planten section ul:nth-of-type(2) p:nth-of-type(2) {
	font-size: .8rem;
	font-weight: bold;
	align-items: flex-start;
}

.planten section ul:nth-of-type(2) li > img {
	grid-column: span 2;
	grid-row: 1;
	width: 100%;
	height: initial;
	margin: 0;
}

.planten section ul:nth-of-type(2) li > button {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.25rem;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.planten section ul:nth-of-type(2) li > button:focus {
	outline: 2px solid var(--color-brand-secondary);
	border-radius: .5em;
}

.planten section ul:nth-of-type(2) li > button:first-of-type {
	background-color: var(--color-brand);
}

.planten section ul:nth-of-type(2) li > button > img {
	width: 1.4rem;
	height: 1.4rem;
	margin: 0;
}

.planten span {
	font-size: 1.2rem;
	margin: 0 .1rem;
	line-height: 1.4rem;
}




